body {
	background-color: #999999;
}

* {
	font-family: "Century Gothic", Times New Roman, Georgia, Serif;
}

#header {
	text-align: center;
	width: 100%;
	padding: 5px;
}

a {
	text-decoration: none;
}


#nav {
	
	text-align: center; 
	width: 980px;
	margin: auto;
	padding: 2px;
	
}
#nav ul {
	list-style-type: none;
	
}
#nav li {
	display: inline;

}
#nav li a {
	padding: 20px;
}
#nav li a:hover {
	background-color: #d8d8d8;
	border-bottom: 5px solid red;
}
#nav li a:active {
	background-color: red;
	border-bottom: 5px solid red;
}



#content {
	background-color: White;
	width: 980px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	padding: 10px;
	color: Blue;
	text-align: center;
	font-weight: bold;
	border: 3px solid #727272;
	border-radius: 20px;
	box-shadow: 5px 1px 8px #828080, -5px 1px 8px #828080
}

#links {
	float:right;
}

/* SlideShow */
* {box-sizing:border-box}
.slideshow-container {
	max-width: 800px;
	position: relative;
	margin: auto;
}
.mySlide {
	display: none;
}
.prev .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#footer {
	text-align: right;
	width: 100%;
	padding: 5px;
}
